
.container__small-card {
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
}

.container__small-card-content{
    width: calc(33.33% - 10px);
    margin-bottom: 15px;
    box-sizing: border-box;
}

.small-card__photo > img{
    width: 250px;
    min-width: 200px;
    height: 155px;
    margin-left: 20px;
    cursor: pointer;
}

.small-card__title{
    text-align: center;
}

.small-card__title > h3{
    font-size: 20px;
}

.small-card__separator{
    margin-top: 10px;
}